html{
    font-size: calc(0.8em + 0.8vw);
}
*{
    box-sizing: border-box;
}
body{
    text-decoration: none;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
}
#søk{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    padding: 5px;
    border: 1.5px solid #000;
    border-radius: 25px;
}
#søkebar, #knapp{
    display: flex;
    justify-content: center;
    border: none;
    padding: 3px;
    background-color: #fff;
}
#søkebar{
    width: 100%;
}
#søkebar:focus{
    outline: none;
}
.main-nav ul, .main-nav li, .main-nav a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000;
    padding: 0px;
    padding-top: 6px;
    margin: 0;
    font-weight: bold;
}
#icons, #icons a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    color: black;
    gap: 20px;
    padding: 5px;
    background-color: #fff;
    margin-top: 0.5em;
}
/*PROMPT: How to make the icons scale when hovered over?*/
/*RESULTS: Use the transform property with the scale function*/
/*PROMPT: How to make the icons scale smoothly?*/
/*RESULTS: Use the transition property with the transform property*/
#icons li:hover{
    transform: scale(1.3);
    transition: transform 0.6s;
}
#logo{
    text-decoration: solid;
    font-weight: 900;
    font-size: 2em;
    padding: 15px;
}
#nav-search{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    background-color: #fff;
}
#banner{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    background-image: url("https://picsum.photos/id/38/1200/600");
    background-size: cover;
    border-radius: 2em;
    padding: 0 5% 0 40%;
    max-width: 100%;
    height: 40rem;
    margin-top: 1em;
    padding-right: 2em;
}
#banner h1{
    color: #000;
    text-align: right;
    font-size: 2rem;
    word-break: break-all; 
}
#banner p{
    color: #000;
    text-align: right;
    font-size: 1rem;
    font-weight: 600;
    padding: 0;
}   
#btn1{
    border-color: transparent;
    height: 3em;
    border-radius: 3em;
    background: #fff;
    font-size: 0.8em;
    margin-top: 0.5em;
}
#btn1 a{
    padding: 0.8rem;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
#the-best h2{
    text-align: center;
    padding: 10px;
    font-size: 2em;
    font-weight: 700;
}
#the-best{
    text-align: center;
}
#popular{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin: 0;
    
}
#popular{
    margin-bottom: 3em;
    margin-top: 2em;
}
#popular #new-prod{
    background-color: rgb(91, 91, 91);
    color: #fff;
}
#popular a{
    border: 0.4px solid rgb(156, 156, 156);
    padding: 15px;
    border-radius: 50em; 
    font-size: 0.8em;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
#popular a:hover{
    background-color: rgb(156, 156, 156);
    color:rgb(255, 255, 255)
}
.image-container img{   
    width: 100%;
    border-radius: 2em;
}
.image-container{
    position: relative;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    border-radius: 5%;
}
.heart-icon{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5em;
    backdrop-filter: blur(30px);
    color: #fff;
    border-radius: 50%;
    padding: 0.6rem;
}
.heart-icon:hover{
    background-color: rgba(255, 119, 119, 0.5);
    cursor: pointer;
}
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    font-weight: bold;
}
.price p, .price h3{
    padding: 0;
}
.price p{
    font-weight: 300;
}
.stars{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 5px;
    margin-top: 0;
    padding: 0;
    list-style: none;
}
.stars{
    font-size: 0.8em;
    font-weight: 700;
}
#explore-categories{
    margin-top: 3.5em;
    margin-bottom: 3rem;
    text-align: center;
}
#explore-categories p{
    font-size: 0.9em;
    margin: 2.5em;
}
#product-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 0;
    margin-top: 2rem;
}
.categories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.category-box{
    position: relative;
    width: 100%;
    text-align: center;
    margin: 5px;
}
.category-box img{
    width: 100%;
    filter: opacity(67%) brightness(86%);
    border-radius: 2em;
}
/*Promt: how to center text without using flex?*/
/*Results: top: 50%, left: 50%, transfrom: translate(-50%, -50%);*/
.categories h4{
    position: absolute;
    color: #fff;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.categories img{
    height: 17em;
    overflow: hidden;
}
#category3{
    height: 30em;
    border-radius: 1.5em;
    width: 100%;
}
#review{
    display: flex;
    flex-wrap: wrap;
}
#review h3{
    margin: 0.2em;
    padding-top: 1.3em;
    padding-bottom: 2em;
    font-size: 1.8em;
}
#review .scroll-container{
    display: flex;
    gap: 1rem;
    overflow: scroll;
}
.scroll-container article{
    min-width: 300px;
}
.review-card{
    max-width: 350px;
    width: 100%;
    border: 1.5px solid rgb(228, 228, 228);
    border-radius: 1em;
}
.review-card img{
    width: 50%;
    border-radius: 50%;
}
.review-card h5{
    padding-top: 10px;
    margin-bottom: 9px;
    font-size: 1em;
}
.review-card p{
    white-space: pre-line;
    text-align: left;
    margin-bottom: 2em;
    padding: 0;
}
#main-hr{
    margin-top: 3em;
    margin-bottom: 0em;
    color:rgb(236, 236, 236);
    border: 1.5px solid rgb(236, 236, 236);
}
footer h6{
    font-size: 1.5em;
    font-weight: 200;
}
#footer-logo{
    padding-top: 0;
    padding-bottom: 2em;
}
#footer-logo h2{
    padding-top: 2em;
    padding-bottom: 0;
    margin: 0;
}
.contact-icons i{
    margin-right: 0.5rem;
}
#footer-contact{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#footer-contact h6{
    margin: 0;
    padding-right: 0;
    padding-bottom: 0.5em;
}
#footer-contact p, #footer-contact li{
    font-size: 15px;
}
#footer-shortcut h6{
    padding-bottom: 0.5em;
}
#footer-shortcut ul{
    list-style: none;
    padding: 0;
}
#footer-shortcut li{
    margin-bottom: 15px;
}
#footer-shortcut a{
    text-decoration: none;
    color: #000;
}
#footer-social h6{
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0;
}
#social-icons{
    display: flex;
    flex-direction: row;
    font-size: 1.4em;
    gap: 1em;
    justify-content: left;
    padding: 0;
    margin-top: 0;
    margin-bottom: 3em;
    list-style: none;
}


/* CHECKOUT PAGE */


#back{
    margin: 0.5em
}
#back-to-main{
    text-decoration: none; 
}
#back-to-main i{
    padding-right: 0.6em;
}
#main-checkout h1{
    text-align: center;
    padding-bottom: 0.9em;
}
.checkout-container{
    border: 2px solid rgb(228, 228, 228);
    padding-top: 4em;
}
.checkout-section img{
    margin-left: 2.5em;
    margin-bottom: 2em;
    max-width: 200px;
}
#main-checkout h2{
    text-align: left;
    padding: 0.3em;
    padding-bottom: 1.5em;
    padding-left: 20px;
    font-size: 1.9em;
    margin: 0;
}
.checkout-card{
    margin-left: 4em;
}
.checkout-card h3{
    padding: 0;
    margin: 0;
    font-size: 1rem;
}
.checkout-card p{
    margin: 0;
}
.checkout-card select{
    border: 1.5px solid rgb(228, 228, 228);
    padding: 1em;
    background-color: rgb(228, 228, 228);
}
.checkout-card input{
    padding: 1em;
    border: 1.5px solid rgb(228, 228, 228);
    width: 54%;
    height: 47px; 
}
.options{
    display: inline-block;
    gap: 1em;
    padding-top: 2em;
}
.shop-icons{
    margin-top: 3.5em;
    margin-left: 0;
    margin-bottom: 3em;
}
/*PROMT: Why can't I make a gap between the icons in #shop-icons?*/
/*RESULTS: You need flex to use gap,
but without flex you can use margin to create space between the icons. 
Example: margin-right: 20px; */
.shop-icons i{
    margin-right: 0.7em;
}
.checkout-container2{
    border: 2px solid rgb(228, 228, 228);
    padding-top: 4em;
    margin-top: 1.4em;
}
.checkout-container2 h3{
    margin-left: 1.5em;
    margin-bottom: 14px;
}
.checkout-container2 label{
    font-weight: 550;
    margin-left: 2em;
    margin: 2em;
    font-size: 15px;
}
.checkout-container2 input{
    padding: 1em;
    border: 1.5px solid rgb(228, 228, 228);
    width: 54%;
    height: 47px; 
    margin-left: 2.5em;
    width: 86%;
    margin-top: 3px;
    margin-bottom: 3px;
}
.checkout-container2 form{
    padding: 0.5em;
}
.save{
    margin-top: 2em;
    background-color: rgb(75, 75, 75);
    color: #fff;
}
.checkout-container2 button{
    text-decoration: underline;
    padding: 0;
    border: none;
    background: #fff;
    color:rgb(45, 38, 171);
    margin-bottom: 2em;
    margin-top: 2em;
    padding-left: 45.7%;
    font-weight: 600;
}
#checkout-container3{
    border: 2px solid rgb(228, 228, 228);
    padding: 1em;
    padding-top: 3em;
    margin-top: 2em;
}
/*PROMT: Is there a way to make the radio button bigger?*/
/*RESULTS: Use the transform property with the scale function*/
    
    #radio{
        transform: scale(1.2);
        margin: 10px;
    }
    h3{
        margin-top: 0;
        margin-left: 1em;
    }
    .days{
        color: rgb(135, 134, 134);
        font-weight: 600;
    }

.delivery-card{
    border: 2px solid rgb(228, 228, 228);
    padding: 1em;
    margin: 1em;
}
#checkout-container4{
    border: 2px solid rgb(228, 228, 228);
    padding: 1em;
    padding-top: 3em;
    margin-top: 2em;

    h2{
        padding-bottom: 0px;
        margin-bottom: 1.5em;
    }

    h3{
        margin-bottom: 10px;
        margin-left: 0.8em;
    }
}
#payment-card{
    margin: 1em;
    
    input{
        padding: 1.2em;
        width: 100%; 
        border: 1.5px solid rgb(228, 228, 228);   
    }
    label{
        font-weight: 600;
        font-size: 15px;
    }
    hr{
        margin-top: 2.5em;
        margin-bottom: 2.5em;
        width: 100%;
        color:rgb(245, 245, 245);
        border: 1.4px solid rgb(236, 236, 236);
    }
}
#purchase{
    text-align: center;
    margin-top: 4em;
    margin: 1em;
    margin-bottom: 2em;
    .save{
        width: 100%;
        padding: 1.5em;
        margin-bottom: 2em;
        margin-top: 0;
        border-color: transparent;
    }
    input{
        margin-bottom: 1em;
    }
    #kr{
        font-size: 2em;
        font-weight: 800;
        margin-bottom: 0;
        margin-top: 0;
    }
}
#checkout-hr{
    margin-top: 3em;
    border: 1.3px solid rgb(209, 209, 209);
}

/* Produktside */

#products-nav{
    ul{   
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        justify-content: left;
        padding-left: 0;
        margin-top: 3em;
    }
    a{
        text-decoration: none;
        color: #000;
        padding: 10px;
    }
    li{
        list-style: none;
    }
}
/*Promt: How can I semantically make space between a word and < sign?*/
/*Results: Use the ::before pseudo-element. 
Example: .breadcrumb-item + .breadcrumb-item::before{
content: ">";
margin: 0 10px;*/

.list-product + .list-product::before{
    content: ">";
    padding: 2px;
}
#product{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, auto);
    gap: 1em;
    margin-top: 1.5em;

    #img1{
        grid-column: 1/2;
        grid-row: 1/2;
        width: 100%;
    }
    #img2{
        grid-column: 1/2;
        grid-row: 2/3; 
        width: 100%;
    }
    #img3{
        grid-column: 1/2;
        grid-row: 3/4;
        width: 100%;
    }
    #img4{
        grid-column: 2/3;
        grid-row: 1/4;
        height: 100%;
    }
}
#product img{
    width: 100%;
    height: auto;
}
#product-info{
    h1{
        margin-bottom: 0;
    }
    h2{
        margin-top: 0.5em;
        font-weight: 10;
        color: rgb(128, 128, 128);
        text-decoration: underline;
    }
}
#choose-size{
    select{
        margin-top: 2em;
        width: 100%;
        padding: 1.2em;
        background-color:rgb(225, 225, 225);
        border-radius: 0.4em;
    }
}
#add-to-cart{
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    display: flex;
    justify-content: row;
    justify-content: space-between;
    gap: 1em;

    #cartbtn{
        width: 100%;
        margin: 0;
        padding: 1.2em;
        background-color: #000;
        color: #fff;
        border-color: transparent;
    }
    #favorite{
        padding: 10px 15px;
        border: 1.5px solid;
        margin: 0;
    }
    i{
        font-size: 1.3em;
    }
}
.product-hr{
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    border: 1.2px solid rgb(144, 144, 144);
}
.dropmeny{
    display: block;
    cursor: pointer;
    ul{
        margin-top: 2em;
    }
    li{
        margin-left: 2em;
    }   
}
.dropmeny summary{
    display: flex;
    justify-content:space-between;
    font-weight: 600;
    margin-left: 1em;
    list-style: none;
    align-items: center;
}
.dropmeny summary::after{
    content: "+";
    font-size: 1.5em;
    margin-right: 1em;
}
#product-details{
    p{
        margin-left: 1em;
        margin-top: 2em;
        margin-right: 1.5em;
    }
}
